<section id="tela">
  <div class="container d-flex">
    <div class="row">
      <div class="col d-flex justify-center">
        <img src="../../../../assets/images/Informes_Titulo.png" alt="GD alfa e delta addera" class="img-fluid" width="75%">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row d-flex">
      <div class="col-10 col-sm-8 col-md-8 pb-14">
        <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
          tincidunt ut laoreet dolore magna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna. Lorem ipsum dolor sit amet, consectetuer
          adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
          <img src="../../../assets/images/vitamina-d.png" alt="" class="img-fluid left" width="300">

      </div>
    </div>
  </div>
</section>
