
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
	margin: 0 auto;
	display: flex;
}

.index {
  z-index: 1;
}

@media screen and (max-width: 465px) {

  .mb {
      max-width: 85%!important;
      height: auto;
      margin-left: 3rem!important;
  }
}
