<section class="pt-5">
  <div class="container d-flex">
    <div class="row">
      <div class="col">
        <img src="../../../../assets/images/Representantes_Delta.png" alt="GD alfa e delta addera" class="img-fluid" width="500">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container dn">
    <div class="row">
      <div class="col d-flex wrap">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-12 col-sm-6 col-md-6">
        <p class="text plr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/ALEX MARCELO DA SILVA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 59,9%  </span>
          <hr>
          <p class="nome">ALEX MARCELO DA SILVA</p>
          <hr>
          <span class="numero">302040404</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/ALLEC ROBSON C. DE OLIVEIRA.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 43,5%  </span>
            <hr>
            <p class="nome">ALLEC ROBSON C. DE OLIVEIRA</p>
            <hr>
            <span class="numero">303040402</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/ANA GABRIELLA RIBEIRO SAMPAIO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,3%  </span>
          <hr>
          <p class="nome">ANA GABRIELLA RIBEIRO SAMPAIO</p>
          <hr>
          <span class="numero">305010401</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/ANDERSON  V. DE MEDEIROS.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,2%  </span>
          <hr>
          <p class="nome">ANDERSON  V. DE MEDEIROS</p>
          <hr>
          <span class="numero">301040404</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/APARECIDA C. SALES.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 47,8%  </span>
          <hr>
          <p class="nome">APARECIDA C. SALES</p>
          <hr>
          <span class="numero">302020404</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/ARCELINO NETO SALES MARQUES.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 44,2%  </span>
            <hr>
            <p class="nome">ARCELINO NETO SALES MARQUES</p>
            <hr>
            <span class="numero">305030404</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/BRUNA A G. S. TEIXEIRA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 43,5%  </span>
          <hr>
          <p class="nome">BRUNA A G. S. TEIXEIRA</p>
          <hr>
          <span class="numero">304050404</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/BRUNO DE SA BEZERRA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 51,5%  </span>
          <hr>
          <p class="nome">BRUNO DE SA BEZERRA</p>
          <hr>
          <span class="numero">304050402</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/CAIO JULIO DE SOUSA TELES.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 40,2% </span>
            <hr>
            <p class="nome">CAIO JULIO DE SOUSA TELES </p>
            <hr>
            <span class="numero">303070402</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/CAMILA PINZON ANDRETTA.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 41,3%  </span>
            <hr>
            <p class="nome">CAMILA PINZON ANDRETTA </p>
            <hr>
            <span class="numero">301060402</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/CLELIA F. P. BESSANI.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 53,2%  </span>
          <hr>
          <p class="nome">CLELIA F. P. BESSANI</p>
          <hr>
          <span class="numero">303060404</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/DIEGO ANTONIO STRAPAZON .png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 53,9% </span>
          <hr>
          <p class="nome">DIEGO ANTONIO STRAPAZON </p>
          <hr>
          <span class="numero">301030405</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/ERIC MARSHALL ROCHA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 56,7%  </span>
            <hr>
            <p class="nome">ERIC MARSHALL ROCHA</p>
            <hr>
            <span class="numero">303040404</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/ESTHERFANE T. DE OLIVEIRA.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 46,0%</span>
            <hr>
            <p class="nome"> ESTHERFANE T. DE OLIVEIRA </p>
            <hr>
            <span class="numero">305040402 </span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/FABIANA ANDREA S. PIRES.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 49,8%  </span>
          <hr>
          <p class="nome">FABIANA ANDREA S. PIRES</p>
          <hr>
          <span class="numero">302080402</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/FABIANA MICHALIZEN.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 42,1%  </span>
          <hr>
          <p class="nome">FABIANA MICHALIZEN</p>
          <hr>
          <span class="numero">301060405</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/FABIO FELISMINO PEREIRA .png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 44,9%  </span>
          <hr>
          <p class="nome">FABIO FELISMINO PEREIRA</p>
          <hr>
          <span class="numero">302060401</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/FABRICIO L. DOS SANTOS.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 52,0%  </span>
            <hr>
            <p class="nome">FABRICIO L. DOS SANTOS</p>
            <hr>
            <span class="numero">303040403</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/FERNANDA DA SILVA KONZEN.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 44,7% </span>
          <hr>
          <p class="nome">FERNANDA DA SILVA KONZEN </p>
          <hr>
          <span class="numero">301040403</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/FERNANDO C. COSTA BILATO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 49,4%  </span>
          <hr>
          <p class="nome">FERNANDO C. COSTA BILATO</p>
          <hr>
          <span class="numero">302090401</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/FERNANDO D. C. GOUVEA NETO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 44,2%  </span>
          <hr>
          <p class="nome">FERNANDO D. C. GOUVEA NETO</p>
          <hr>
          <span class="numero">304080402</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/FERNANDO RODRIGUES.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 41,2%  </span>
            <hr>
            <p class="nome">FERNANDO RODRIGUES</p>
            <hr>
            <span class="numero">302040405</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/FRANCISCO L. F. FILHO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 40,9% </span>
          <hr>
          <p class="nome">FRANCISCO L. F. FILHO </p>
          <hr>
          <span class="numero">305010402</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/GILLES PEREIRA TELES.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 47,4%  </span>
          <hr>
          <p class="nome">GILLES PEREIRA TELES</p>
          <hr>
          <span class="numero">303060402</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/GISELE CUNHA MENDES PEREIRA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 40,6%  </span>
          <hr>
          <p class="nome">GISELE CUNHA MENDES PEREIRA</p>
          <hr>
          <span class="numero">302080403</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/GUILHERME SCARAZZATE.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 46,3% </span>
            <hr>
            <p class="nome">GUILHERME SCARAZZATE </p>
            <hr>
            <span class="numero">303030402</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/HENRIQUE M. SUAVE.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 43,2%  </span>
          <hr>
          <p class="nome">HENRIQUE M. SUAVE</p>
          <hr>
          <span class="numero">302060402</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/JAILSON F. PEREIRA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 50,7%  </span>
          <hr>
          <p class="nome">JAILSON F. PEREIRA</p>
          <hr>
          <span class="numero">303060401</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/JAIME LUIS SCHLOGL MOZER.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,5%  </span>
          <hr>
          <p class="nome">JAIME LUIS SCHLOGL MOZER</p>
          <hr>
          <span class="numero">301080403</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/JEFERSON LUIZ RIBEIRO.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 42,9%  </span>
            <hr>
            <p class="nome">JEFERSON LUIZ RIBEIRO</p>
            <hr>
            <span class="numero">302080404</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/LARISSA D. M. COSTHAISME .png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,3%  </span>
          <hr>
          <p class="nome">LARISSA D. M. COSTHAISME</p>
          <hr>
          <span class="numero">305040403</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/LORRAYNE D. S. SOTERO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 53,9%  </span>
          <hr>
          <p class="nome">LORRAYNE D. S. SOTERO</p>
          <hr>
          <span class="numero">304050401</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/LUCIANO R. PIRES.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,3%  </span>
          <hr>
          <p class="nome">LUCIANO R. PIRES</p>
          <hr>
          <span class="numero">303050403</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/LUCIVANIA P. ANTUNES.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 45,2%  </span>
            <hr>
            <p class="nome">LUCIVANIA P. ANTUNES</p>
            <hr>
            <span class="numero">303050404</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/LUIS FERNANDO RESENDE.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,1%  </span>
          <hr>
          <p class="nome">LUIS FERNANDO RESENDE</p>
          <hr>
          <span class="numero">301030404</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/LUIZ EDUARDO EUSTAQUIO PINTO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 43,7%  </span>
          <hr>
          <p class="nome">LUIZ EDUARDO EUSTAQUIO PINTO</p>
          <hr>
          <span class="numero">303080401</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/MARCELINO NEI JUNKES.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 50,7%  </span>
          <hr>
          <p class="nome">MARCELINO NEI JUNKES</p>
          <hr>
          <span class="numero">301070401</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/MARIELEN C. DELALATA.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 45,4%  </span>
            <hr>
            <p class="nome">MARIELEN C. DELALATA</p>
            <hr>
            <span class="numero">303010404</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/MATIZA O. FREIRE.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 48,7%  </span>
          <hr>
          <p class="nome">MATIZA O. FREIRE</p>
          <hr>
          <span class="numero">301070402</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/MAURI FURLANETTO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 40,8%  </span>
          <hr>
          <p class="nome">MAURI FURLANETTO</p>
          <hr>
          <span class="numero">302080401</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/MEIRE JEANI A. F. PANTOJA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 42,3%  </span>
          <hr>
          <p class="nome">MEIRE JEANI A. F. PANTOJA</p>
          <hr>
          <span class="numero">305040404</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/MICHEL DIAS BEZERRA.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 56,5% </span>
            <hr>
            <p class="nome">MICHEL DIAS BEZERRA </p>
            <hr>
            <span class="numero">305040401</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/NATALIA COSTA PAIVA DA SILVA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 53,6%  </span>
          <hr>
          <p class="nome">NATALIA COSTA PAIVA DA SILVA</p>
          <hr>
          <span class="numero">304040401</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/PAMELLA M. BERTONI .png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,5%  </span>
          <hr>
          <p class="nome">PAMELLA M. BERTONI</p>
          <hr>
          <span class="numero">302060403</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/PATRIK JOSE CAVALLI.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 44,2%    </span>
          <hr>
          <p class="nome">PATRIK JOSE CAVALLI</p>
          <hr>
          <span class="numero">301010403</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/RAFAEL M. CASA NOVA.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 44,2%  </span>
            <hr>
            <p class="nome">RAFAEL M. CASA NOVA</p>
            <hr>
            <span class="numero">304080403</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/RAFAELA GARCIA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 40,6% </span>
          <hr>
          <p class="nome">RAFAELA GARCIA </p>
          <hr>
          <span class="numero">301070403</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/RODRIGO DE SOUZA RIBEIRO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 47,7% </span>
          <hr>
          <p class="nome">RODRIGO DE SOUZA RIBEIRO </p>
          <hr>
          <span class="numero">302010405</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/SARA GEANEZE.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 44,3% </span>
          <hr>
          <p class="nome">SARA GEANEZE </p>
          <hr>
          <span class="numero">302020405</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/SIMONE LAISE NEVES.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 43,3%  </span>
            <hr>
            <p class="nome">SIMONE LAISE NEVES</p>
            <hr>
            <span class="numero">303020404</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/TERESA C. M. TORRAO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 45,6% </span>
          <hr>
          <p class="nome">TERESA C. M. TORRAO </p>
          <hr>
          <span class="numero">304070401</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/THAIS M. BOAVENTURA .png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 45,5% </span>
          <hr>
          <p class="nome">THAIS M. BOAVENTURA </p>
          <hr>
          <span class="numero">303090404</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/THAISSA ALVES LAGO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 49,3% </span>
          <hr>
          <p class="nome">THAISSA ALVES LAGO </p>
          <hr>
          <span class="numero">304040402</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-delta/THIAGO F. JANSEN.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 41,4%</span>
            <hr>
            <p class="nome"> THIAGO F. JANSEN </p>
            <hr>
            <span class="numero">305030403</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center mb-15">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-delta/VIVIANE MATIAS DE CARVALHO .png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 45,4% </span>
          <hr>
          <p class="nome">VIVIANE MATIAS DE CARVALHO </p>
          <hr>
          <span class="numero">303050401</span>
        </div>
      </div>
    </div>
  </div>
</section>
