
p, span {
  color: #fff;
}

p {
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

hr {
  width: 100%;
  height: 3px;
  background: #e9d16b;
  margin-bottom: 0;
}

.text {
  color:#e9d16b;
}

.porcentagem, .numero {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
}

.nome {
  margin-bottom: 0;
}

