<section class="pt-5">
  <div class="container d-flex">
    <div class="row">
      <div class="col">
        <img src="../../../../assets/images/Representantes_Sigma.png" alt="GD alfa e delta addera" class="img-fluid" width="500">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container dn">
    <div class="row">
      <div class="col d-flex wrap">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-12 col-sm-6 col-md-6">
        <p class="text plr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ ALESSANDRO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 47,7%  </span>
          <hr>
          <p class="nome">ALESSANDRO REIS DE ALMEIDA </p>
          <hr>
          <span class="numero">302010105</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-alfa/REP_ALFA_ ALINI.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 42,1%      </span>
            <hr>
            <p class="nome">ALINI DA CRUZ MOREIRA</p>
            <hr>
            <span class="numero">301060105</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ AMANDA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 40,8%  </span>
          <hr>
          <p class="nome">AMANDA G. A. DA SILVA </p>
          <hr>
          <span class="numero">302080101 </span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ ANDERSON.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 50,7%    </span>
          <hr>
          <p class="nome">ANDERSON T. ANDRADE</p>
          <hr>
          <span class="numero">303060103</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ ANI.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 40,2%    </span>
          <hr>
          <p class="nome">ANI AGUIA DE JESUS</p>
          <hr>
          <span class="numero">303070102</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-alfa/REP_ALFA_ ANNE.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 56,5%     </span>
            <hr>
            <p class="nome">ANNE CAROLINE P. R. RODRIGUES</p>
            <hr>
            <span class="numero">305040101</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ ARLETE.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 40,6%   </span>
          <hr>
          <p class="nome">ARLETE PEREIRA MARIANO</p>
          <hr>
          <span class="numero">301070103</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ BRUNO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,5%    </span>
          <hr>
          <p class="nome">BRUNO C. DURANTE </p>
          <hr>
          <span class="numero">302060103</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ CARLA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 49,3%  </span>
          <hr>
          <p class="nome">CARLA D. O. BARBATO</p>
          <hr>
          <span class="numero">304040102 </span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-alfa/REP_ALFA_ CARLOS.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 53,9%    </span>
            <hr>
            <p class="nome">CARLOS AUGUSTO OLIVEIRA MUNIZ</p>
            <hr>
            <span class="numero">304050101 </span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ CAROLINA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 43,2%  </span>
          <hr>
          <p class="nome">CAROLINA DE GODOY</p>
          <hr>
          <span class="numero">302060102 </span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ ERICA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 43,5%    </span>
          <hr>
          <p class="nome">ERICA DENISE F. F. MUNIZ</p>
          <hr>
          <span class="numero">303040102</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ FABIO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 45,2%   </span>
          <hr>
          <p class="nome">FABIO C. LUSTOSA</p>
          <hr>
          <span class="numero">303050104</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-alfa/REP_ALFA_ FELLIPE.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 47,4%    </span>
            <hr>
            <p class="nome">FELLIPE KOCH SANTOS </p>
            <hr>
            <span class="numero">303060102</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ FERNANDO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,1%   </span>
          <hr>
          <p class="nome">FERNANDO JURIATI</p>
          <hr>
          <span class="numero">301030104</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ GEANE.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 42,3%   </span>
          <hr>
          <p class="nome">GEANE ERIELE SILVA RAGNINI</p>
          <hr>
          <span class="numero">305040104</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ GUILHERME.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 45,4% </span>
          <hr>
          <p class="nome">GUILHERME XAVIER MANSO </p>
          <hr>
          <span class="numero">303050101 </span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-alfa/REP_ALFA_ HENRIQUE.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 46,0%   </span>
            <hr>
            <p class="nome">HENRIQUE B. DA SILVA OLIVEIRA</p>
            <hr>
            <span class="numero">305040102 </span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ JACKSUEC.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 44,2% </span>
          <hr>
          <p class="nome">JACKSUEC S. DE ARRUDA </p>
          <hr>
          <span class="numero">305030104</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ JANAINA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 52,0%    </span>
          <hr>
          <p class="nome">JANAINA LISBOA FERREIRA SILVA</p>
          <hr>
          <span class="numero">303040103</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ JESSICA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 49,8% </span>
          <hr>
          <p class="nome">JESSICA M. DE ARAUJO REZENDE </p>
          <hr>
          <span class="numero">302080102</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-alfa/REP_ALFA_ JOAO.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 56,7%  </span>
            <hr>
            <p class="nome">JOAO BATISTA FERREIRA</p>
            <hr>
            <span class="numero">303040104   </span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ JOEL.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 43,5%  </span>
          <hr>
          <p class="nome">JOEL GABRIEL G.FRANKLIN </p>
          <hr>
          <span class="numero">304050104</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ JONATHAN_COSTA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 53,2%    </span>
          <hr>
          <p class="nome">JONATHAN COSTA SENA</p>
          <hr>
          <span class="numero">303060104</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ JONATHAN_LELIS.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,3% </span>
          <hr>
          <p class="nome">JONATHAN LELIS DE FREITAS </p>
          <hr>
          <span class="numero">305010101 </span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-alfa/REP_ALFA_ JOSE_ANTONIO.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 43,7%  </span>
            <hr>
            <p class="nome">JOSE ANTONIO RESENDE REIS</p>
            <hr>
            <span class="numero">303080101 </span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ JOSE_CARLOS.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 50,7% </span>
          <hr>
          <p class="nome">JOSE CARLOS AMARAL </p>
          <hr>
          <span class="numero">301070101 </span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ JULIANA_LOPES.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 44,2%   </span>
          <hr>
          <p class="nome">JULIANA C. LOPES </p>
          <hr>
          <span class="numero">304080102</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ LEANDRO_OLIVEIRA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,3%  </span>
          <hr>
          <p class="nome">LEANDRO M. DE OLIVEIRA</p>
          <hr>
          <span class="numero">303050103 </span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-alfa/REP_ALFA_ LEONARDO_MATTOS.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 63%   </span>
            <hr>
            <p class="nome">LEONARDO A. DE SOUZA MATTOS </p>
            <hr>
            <span class="numero">304050103</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ LEONARDO_SOUZA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 44,9%   </span>
          <hr>
          <p class="nome">LEONARDO A. DE SOUZA JUNIOR</p>
          <hr>
          <span class="numero">302060101 </span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ LIZANDRI.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 40,6%   </span>
          <hr>
          <p class="nome">LIZANDRI D. O. R. TEIXEIRA</p>
          <hr>
          <span class="numero">302080103 </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ LUCIANA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 56,3%  </span>
          <hr>
          <p class="nome">LUCIANA MEDEIROS KNUPP</p>
          <hr>
          <span class="numero">304040101 </span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-alfa/REP_ALFA_ LUIZ_AMARAL.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 44,3%  </span>
            <hr>
            <p class="nome">LUIZ D. C. DO AMARAL SILVA</p>
            <hr>
            <span class="numero">302020105</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ MARCELA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,4%   </span>
          <hr>
          <p class="nome">MARCELA C. C. DE MENEZES</p>
          <hr>
          <span class="numero">305030103</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ MARCIO_ELENO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,2%  </span>
          <hr>
          <p class="nome">MARCIO ELENO PALHARINI </p>
          <hr>
          <span class="numero">301040104 </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-alfa/REP_ALFA_ MARIA_JULIANA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,3%  </span>
          <hr>
          <p class="nome">MARIA JULIANA D. C. BERTELLI </p>
          <hr>
          <span class="numero">301060102</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center mb-15">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-alfa/REP_ALFA_ MAXIMINIANO.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 44,2%   </span>
            <hr>
            <p class="nome">MAXIMIANO R. DE AZEREDO </p>
            <hr>
            <span class="numero">304080103  </span>
          </div>
      </div>
    </div>
  </div>
</section>
