<section class="pt-5">
  <div class="container d-flex">
    <div class="row">
      <div class="col">
        <img src="../../../../assets/images/Representantes_Sigma.png" alt="GD alfa e delta addera" class="img-fluid" width="500">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col d-flex wrap">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-12 col-sm-6 col-md-6">
        <p class="text plr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-4 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/moldura.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">sp 000,%</span>
          <hr>
          <p class="nome">Lorem ipsum dolor sit amet</p>
          <hr>
          <span class="numero">00000</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-4 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/moldura.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">sp 000,%</span>
            <hr>
            <p class="nome">Lorem ipsum dolor sit amet</p>
            <hr>
            <span class="numero">00000</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-4 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/moldura.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">sp 000,%</span>
          <hr>
          <p class="nome">Lorem ipsum dolor sit amet</p>
          <hr>
          <span class="numero">00000</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pb-5">
  <div class="container">
    <div class="row justify-center">
      <div class="col-12 col-sm-3 col-md-4 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/moldura.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">sp 000,%</span>
          <hr>
          <p class="nome">Lorem ipsum dolor sit amet</p>
          <hr>
          <span class="numero">00000</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-4 p-5 center">
          <div class="row justify-center ">
            <img src="../../../../assets/images/moldura.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">sp 000,%</span>
            <hr>
            <p class="nome">Lorem ipsum dolor sit amet</p>
            <hr>
            <span class="numero">00000</span>
          </div>
      </div>
    </div>
  </div>
</section>
<section class="pb-5">
  <div class="container pb-14">
    <div class="row justify-center">
      <div class="col-12 col-sm-2 col-md-2 p-2 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/moldura.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr" >
          <span class="porcentagem">sp 000,%</span>
          <hr class="l-8">
          <p class="nome">Lorem ipsum dolor sit amet</p>
          <hr class="l-8">
          <span class="numero">00000</span>
        </div>
      </div>
      <div class="col-12 col-sm-2 col-md-2 p-2 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/moldura.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">sp 000,%</span>
            <hr class="l-8">
            <p class="nome">Lorem ipsum dolor sit amet</p>
            <hr class="l-8">
            <span class="numero">00000</span>
          </div>
      </div>
      <div class="col-12 col-sm-2 col-md-2 p-2 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/moldura.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">sp 000,%</span>
          <hr class="l-8">
          <p class="nome">Lorem ipsum dolor sit amet</p>
          <hr class="l-8">
          <span class="numero">00000</span>
        </div>
    </div>
    <div class="col-12 col-sm-2 col-md-2 p-2 center">
      <div class="row justify-center plr">
        <img src="../../../../assets/images/moldura.png" alt="" class="img-fluid moldura" width="200">
      </div>
      <div class="row justify-center plr">
        <span class="porcentagem">sp 000,%</span>
        <hr class="l-8">
        <p class="nome">Lorem ipsum dolor sit amet</p>
        <hr class="l-8">
        <span class="numero">00000</span>
      </div>
    </div>
    <div class="col-12 col-sm-2 col-md-2 p-2 center">
      <div class="row justify-center">
        <img src="../../../../assets/images/moldura.png" alt="" class="img-fluid moldura" width="200">
      </div>
      <div class="row justify-center plr">
        <span class="porcentagem">sp 000,%</span>
        <hr class="l-8">
        <p class="nome">Lorem ipsum dolor sit amet</p>
        <hr class="l-8">
        <span class="numero">00000</span>
      </div>
  </div>
    </div>
  </div>
</section>
