<section class="pt-5">
  <div class="container d-flex">
    <div class="row">
      <div class="col">
        <img src="../../../../assets/images/Representantes_Sigma.png" alt="GD alfa e delta addera" class="img-fluid" width="500">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container dn">
    <div class="row">
      <div class="col d-flex wrap">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-12 col-sm-6 col-md-6">
        <p class="text plr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/ADNA SILVA DOS SANTOS.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 49,3%  </span>
          <hr>
          <p class="nome">ADNA SILVA DOS SANTOS</p>
          <hr>
          <span class="numero">501070901</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-sigma/ALARY ALMIR GONCALVES .png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 44,1%    </span>
            <hr>
            <p class="nome">ALARY ALMIR GONCALVES</p>
            <hr>
            <span class="numero">502010906</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/ALEXANDRE T. D. F. VALENTE .png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 40,2%  </span>
          <hr>
          <p class="nome">ALEXANDRE T. D. F. VALENTE</p>
          <hr>
          <span class="numero">502070904</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/CARLOS A. FRIGOTTO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 48,7%   </span>
          <hr>
          <p class="nome">CARLOS A. FRIGOTTO</p>
          <hr>
          <span class="numero">501030906</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/CAROLINE F. DE SOUZA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 44,5%  </span>
          <hr>
          <p class="nome">CAROLINE F. DE SOUZA</p>
          <hr>
          <span class="numero">501010909</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-sigma/CESAR LUIZ F. DA COSTA.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 52,3%    </span>
            <hr>
            <p class="nome">CESAR LUIZ F. DA COSTA</p>
            <hr>
            <span class="numero">501010907</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/CYNTHIA VIEIRA FELIPE.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 55,3%    </span>
          <hr>
          <p class="nome">CYNTHIA VIEIRA FELIPE</p>
          <hr>
          <span class="numero">501080906</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/DANIEL W. DA SILVA .png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 40,3%  </span>
          <hr>
          <p class="nome">DANIEL W. DA SILVA </p>
          <hr>
          <span class="numero">502080901 </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/ERICK LOPES DE ARAUJO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 45,4%   </span>
          <hr>
          <p class="nome">ERICK LOPES DE ARAUJO</p>
          <hr>
          <span class="numero">501070903</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-sigma/FABIANA ROCHA ROSA.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 58,9%   </span>
            <hr>
            <p class="nome">FABIANA ROCHA ROSA</p>
            <hr>
            <span class="numero">502050901 </span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/FERNANDA A. CORDEIRO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 40,7%    </span>
          <hr>
          <p class="nome">FERNANDA A. CORDEIRO</p>
          <hr>
          <span class="numero">501060903</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/FRANCISCO G. FALASCO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 46,9%    </span>
          <hr>
          <p class="nome">FRANCISCO G. FALASCO</p>
          <hr>
          <span class="numero">501040903</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/GUSTAVO JOSE N. C. SOUSA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 50,5% </span>
          <hr>
          <p class="nome">GUSTAVO JOSE N. C. SOUSA </p>
          <hr>
          <span class="numero">502050902</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-sigma/HELGA MIRANDA SLAMA REIS.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 43,5%   </span>
            <hr>
            <p class="nome">HELGA MIRANDA SLAMA REIS</p>
            <hr>
            <span class="numero">501040906</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/JESSICA BENZI DOS SANTOS.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 43,5%  </span>
          <hr>
          <p class="nome">JESSICA BENZI DOS SANTOS</p>
          <hr>
          <span class="numero">501080909 </span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/LEANDRO DE OLIVEIRA STACH .png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 56,3%   </span>
          <hr>
          <p class="nome">LEANDRO DE OLIVEIRA STACH</p>
          <hr>
          <span class="numero">501060904</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/LEONARDO D. N. CHITA .png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 42,9%   </span>
          <hr>
          <p class="nome">LEONARDO D. N. CHITA</p>
          <hr>
          <span class="numero">502050904</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-sigma/LOYSE AVILA GUIMARAES .png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 42,2%   </span>
            <hr>
            <p class="nome">LOYSE AVILA GUIMARAES</p>
            <hr>
            <span class="numero">502040904</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/MARLOM EDUARDO APONE.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 52,6%   </span>
          <hr>
          <p class="nome">MARLOM EDUARDO APONE</p>
          <hr>
          <span class="numero">501080905</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/MAURO V. RIBEIRO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 55,5%  </span>
          <hr>
          <p class="nome">MAURO V. RIBEIRO</p>
          <hr>
          <span class="numero">502050903</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-sigma/MAX JOHNATHAN G.DUARTE.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 48,8%   </span>
            <hr>
            <p class="nome">MAX JOHNATHAN G.DUARTE</p>
            <hr>
            <span class="numero">501070904 </span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/MAYARA MOUROSIN RUMY.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 47,0%  </span>
          <hr>
          <p class="nome">MAYARA MOUROSIN RUMY</p>
          <hr>
          <span class="numero"> 501060902</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/PATRICIA FONTES COELHO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 43,8%   </span>
          <hr>
          <p class="nome">PATRICIA FONTES COELHO</p>
          <hr>
          <span class="numero">501070907</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/PATRICK SULLIVAN SILVA AIRES .png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 54,6%   </span>
          <hr>
          <p class="nome">PATRICK SULLIVAN SILVA AIRES</p>
          <hr>
          <span class="numero">501070906</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-sigma/PAULO EDSON A. SOBRINHO.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 46,0%   </span>
            <hr>
            <p class="nome">PAULO EDSON A. SOBRINHO</p>
            <hr>
            <span class="numero">502080910</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/PAULO HENRIQUE SALLES.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 45,2%    </span>
          <hr>
          <p class="nome">PAULO HENRIQUE SALLES</p>
          <hr>
          <span class="numero">501070902</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/PRISCILA M.DA ROCHA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 40,9%   </span>
          <hr>
          <p class="nome">PRISCILA M.DA ROCHA</p>
          <hr>
          <span class="numero">501010906</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/ROBSON A. DE JESUS JUNIOR.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 43,2%  </span>
          <hr>
          <p class="nome">ROBSON A. DE JESUS JUNIOR</p>
          <hr>
          <span class="numero">302060402</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-sigma/SCHELBY C. DUARTE.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 42,4%  </span>
            <hr>
            <p class="nome">SCHELBY C. DUARTE</p>
            <hr>
            <span class="numero">501020903</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/THAYANE DA SILVA F. DE MORAES.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 44,5%  </span>
          <hr>
          <p class="nome">THAYANE DA SILVA F. DE MORAES</p>
          <hr>
          <span class="numero">502040901</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/THIAGO SOAVE SCABIO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 42,3%  </span>
          <hr>
          <p class="nome">THIAGO SOAVE SCABIO </p>
          <hr>
          <span class="numero">501080907</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/VICTOR DA CUNHA TERRA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 41,1%  </span>
          <hr>
          <p class="nome">VICTOR DA CUNHA TERRA</p>
          <hr>
          <span class="numero">502020902</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/rp-sigma/WILLIAM H. A. DE LIMA.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">SP • 41,0%  </span>
            <hr>
            <p class="nome">WILLIAM H. A. DE LIMA </p>
            <hr>
            <span class="numero">501070905</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center mb-15">
        <div class="row justify-center">
          <img src="../../../../assets/images/rp-sigma/YAN CESARE YANAI BALDUINO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">SP • 48,4%   </span>
          <hr>
          <p class="nome">YAN CESARE YANAI BALDUINO</p>
          <hr>
          <span class="numero">501030905</span>
        </div>
      </div>
    </div>
  </div>
</section>
