<section class="pt-5">
  <div class="container d-flex m-pl-3">
    <div class="row">
      <div class="col">
        <img src="../../../../assets/images/gd-sigma/MARCO_Titulos_GDSIGMA.png" alt="GD alfa e delta addera" class="img-fluid img-titulo" width="900">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container dn">
    <div class="row">
      <div class="col d-flex wrap">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-12 col-sm-6 col-md-6">
        <p class="text plr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-sigma/GD_SIGMA_NAICK.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">  45,2%   </span>
          <hr>
          <p class="nome">NAICK FELIPE SANTOS CUNHA</p>
          <hr>
          <span class="numero"> 501070000</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/gd-sigma/GD_SIGMA_LUCAS.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">  40,5%    </span>
            <hr>
            <p class="nome">LUCAS FELIPE CAHINO PARAISO DA COSTA</p>
            <hr>
            <span class="numero"> 501060000</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-sigma/GD_SIGMA_LUCIANO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">  44,8%    </span>
          <hr>
          <p class="nome">LUCIANO LUCIO FERREIRA XAVIER</p>
          <hr>
          <span class="numero"> 501080000</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-sigma/GD_SIGMA_MARCIO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem"> 41,7% </span>
          <hr>
          <p class="nome">MARCIO PERESSIN</p>
          <hr>
          <span class="numero">501030000 </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center mb-15">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-sigma/RENATA MARTINO DE CARVALHO LEAL.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem"> 40,8% </span>
          <hr>
          <p class="nome">RENATA M. DE CARVALHO LEAL
          </p>
          <hr>
          <span class="numero">502050000
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

