.bg {
  background-image: url('../assets/images/bg-desk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@media screen and (max-width: 468px) {
  .bg {
    background-image: url('../assets/images/bg.jpg');
  }
}
