
p, span {
  color: #fff;
}

p {
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

.text {
  color:#fff;
}

.left {
  float: right;
}

.position {
  position: fixed;
  top: 200px;
  right: 0;
  bottom: 0;
}

.ht {
  height: 400px;
}


@media screen and (max-width: 465px) {
  .none {
    display: none!important;
  }
}
