<section class="pt-5">
  <div class="container d-flex m-pl-3">
    <div class="row">
      <div class="col">
        <img src="../../../../assets/images/gd-alfa-delta/gdalfadelta.png" alt="GD alfa e delta addera" class="img-fluid" width="300">
      </div>
    </div>
  </div>
</section>
<!--<section>
  <div class="container" >
    <div class="row">
      <div class="col d-flex wrap">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
        <img src="../../../../assets/images/share.png" alt="" class="img-fluid">
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-12 col-sm-6 col-md-6">
        <p class="text plr">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
      </div>
    </div>
  </div>
</section>-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-alfa-delta/GD_ALFA_DELTA_DANIEL.png" alt="" class="img-fluid moldura" width="00">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">  50,5% </span>
          <hr>
          <p class="nome">DANIEL RIBEIRO DA COSTA</p>
          <hr>
          <span class="numero">303060000</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/gd-alfa-delta/GD_ALFA_DELTA_DANILO.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">  43,0%  </span>
            <hr>
            <p class="nome">DANILO MACEDO LIMA</p>
            <hr>
            <span class="numero">302080000</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-alfa-delta/GD_ALFA_DELTA_FLAVIO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">  40,5%  </span>
          <hr>
          <p class="nome">FLAVIO CICCARELLI</p>
          <hr>
          <span class="numero">302040000</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-alfa-delta/GD_ALFA_DELTA_LUCIANO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">  47,5%  </span>
          <hr>
          <p class="nome">LUCIANO P. BORGES JUNIOR</p>
          <hr>
          <span class="numero">303040000</span>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-alfa-delta/GD_ALFA_DELTA_MARCIO.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">  44,6%  </span>
          <hr>
          <p class="nome">MARCIO ALVES TEIXEIRA</p>
          <hr>
          <span class="numero">304040000</span>
        </div>
        </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/gd-alfa-delta//GD_ALFA_DELTA_PAULO_ALMEIDA.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">  40,2%  </span>
            <hr>
            <p class="nome">PAULO R. L. DE ALMEIDA ASSIS</p>
            <hr>
            <span class="numero">301070000</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-alfa-delta/GD_ALFA_DELTA_PAULO_FEIJOLI.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">  40,0%  </span>
          <hr>
          <p class="nome">PAULO SERGIO FEIJOLI JUNIOR</p>
          <hr>
          <span class="numero">304080000</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-alfa-delta/GD_ALFA_DELTA_SAMUEL.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">  52,8%  </span>
          <hr>
          <p class="nome">SAMUEL C. B. MARQUES</p>
          <hr>
          <span class="numero">304050000</span>
        </div>
      </div>
      <!--<div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-alfa-delta/GD_ALFA_DELTA_RENATA.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">  40,2%  </span>
          <hr>
          <p class="nome">RENATA PEREIRA DA SILVA</p>
          <hr>
          <span class="numero">302060000</span>
        </div>
      </div>-->
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-alfa-delta/JOAO DIRCEU DE TOLEDO JUNIOR.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">  43,2%  </span>
          <hr>
          <p class="nome">JOÃO DIRCEU DE TOLEDO JUNIOR</p>
          <hr>
          <span class="numero">302010000</span>
        </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-alfa-delta/FELIPE MULLER.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">  40,4%  </span>
          <hr>
          <p class="nome">FELIPE MULLER</p>
          <hr>
          <span class="numero">301030000</span>
        </div>
      </div>
        <div class="col-12 col-sm-3 col-md-3 p-5 center">
          <div class="row justify-center">
            <img src="../../../../assets/images/gd-alfa-delta/GD_ALFA_DELTA_THIAGO.png" alt="" class="img-fluid moldura" width="200">
          </div>
          <div class="row justify-center plr">
            <span class="porcentagem">  48,6%  </span>
            <hr>
            <p class="nome">THIAGO PEREIRA MONTE REY</p>
            <hr>
            <span class="numero">305040000</span>
          </div>
      </div>
      <div class="col-12 col-sm-3 col-md-3 p-5 center mb-15">
        <div class="row justify-center">
          <img src="../../../../assets/images/gd-alfa-delta/GD_ALFA_DELTA_WEMERSON.png" alt="" class="img-fluid moldura" width="200">
        </div>
        <div class="row justify-center plr">
          <span class="porcentagem">  43,0%  </span>
          <hr>
          <p class="nome">WEMERSON T. DE OLIVEIRA</p>
          <hr>
          <span class="numero">303050000</span>
        </div>
      </div>
    </div>
  </div>
</section>
